behave
behave-pytest
git+https://github.com/frictionlessdata/jsontableschema-py.git@master
git+https://github.com/frictionlessdata/jsontableschema-bigquery-py.git@master
git+https://github.com/frictionlessdata/jsontableschema-sql-py.git@master
git+https://github.com/frictionlessdata/datapackage-py.git@master
# Move on top off the list after jsontableschema dependency is removed
# For not we test the latest tabulator version published on pypi
git+https://github.com/frictionlessdata/tabulator-py.git@master
