google-api-python-client
sqlalchemy
behave
behave-pytest

git+https://github.com/frictionlessdata/tabulator-py.git@bug/remove-jsontableschema-dependency
git+https://github.com/frictionlessdata/jsontableschema-py.git@master
git+https://github.com/frictionlessdata/jsontableschema-bigquery-py.git@master
git+https://github.com/frictionlessdata/jsontableschema-sql-py.git@master
git+https://github.com/frictionlessdata/datapackage-py.git@feature/push-pull-datapackage
